[paths]
source =
   src/Pepper
   */site-packages/Pepper

[run]
branch = true
source =
    Pepper
    tests
parallel = true

[report]
show_missing = true
precision = 2
omit =
    *migrations*
    **/_version.py
    **/parsetab.py