!.gitignore
!tests/test_data/output_examples/*.preprocessed.cc
.*
.cache/
.idea/
.vscode
*.preprocessed.cc
*.swp
**/__pycache__
**/_build
**/parser.out
**/parsetab.py
coverage.xml
DiffCovReport.html
dist/
htmlcov/
Migration/
notes.txt
src/Pepper.egg-info/
